<mat-toolbar color="primary">
  <h1 class="heading">Loan Decision DEMO</h1>
  <span class="example-spacer"></span>
  <button mat-button class="example-icon" [routerLink]="['/renewal']" routerLinkActive="router-link-active"  >
    Renewal
  </button>
  <button mat-button class="example-icon" [routerLink]="['/newBorrowerRenewal']" routerLinkActive="router-link-active"  >
    New Borrower Renewal
  </button>
  <button mat-button class="example-icon" [routerLink]="['/newBorrower']" routerLinkActive="router-link-active"  >
    New Borrower
  </button>
  <button mat-button class="example-icon" [routerLink]="['/formerBorrower']" routerLinkActive="router-link-active"  >
    Former Borrower
  </button>

</mat-toolbar>
