main {
  width: 95%;
  margin: 1rem auto;
}

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// body {
//   min-height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: #181818;
// }

.animated-block {
  width: 120px;
  height: 120px;
  box-shadow: 16px 14px 20px #0000008c;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animated-block::before {
  content: "";
  background-image: conic-gradient(#2600ff 20deg, transparent 120deg);
  width: 150%;
  height: 150%;
  position: absolute;
  animation: rotate 2s linear infinite;
}
.animated-block::after {
  content: "Check it out!!";
  width: 110px;
  height: 110px;
  background: #101010;
  position: absolute;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff0052;
  font-size: larger;
  letter-spacing: 5px;
  box-shadow: inset 20px 20px 20px #0000008c;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
