
.demo-table {
    width: 99%;
    margin:0 1% 0 1%;
  }

  .column-header{
    border: #e2e2e2 1px solid;

  }
  th.mat-header-cell{
font-size: 12px;
color:black;
  }
  .mat-cell{
    text-align: center;
  }
